@use "../../../styles/variables" as *;
@use 'sass:color';


.find-section {
  display: flex;    
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-right: 24px;

  .search-container {
    display: flex;
    align-items: center;
    gap: 8px;       
  }

  .input-search-roster1 {
    font-size: 18px;
    padding: 12px 16px;
    width: 280px;
    border: 2px solid $primary-color;
    border-radius: 6px;
  }
    
  button {
    background-color: $primary-color;
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;

    &.search-roster-btn {
      color: white;
      font-size: 16px;
    }
    
    &.add-roster-btn {
      background-color: $add-btn-color;
      width: 150px;
      margin-left: auto; 
      color: white;
      font-size: 16px;
    }
  }
}



.roster-section {
  .roster-list {
    max-height: 500px;
    overflow-y: auto;
    padding: 12px;
  }
  .roster-item {
      outline: 1px solid $secondary-color;
      border: none;
      border-radius: 8px;
      margin-bottom: 8px;

      .roster-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        background-color: white;
        border: 1px solid $primary-color;
        border-radius: 8px;
        background-color: #fff;

        &:hover {
          background-color: color.adjust($primary-color, $lightness: 8%);
        }

        .toggle-icon { 
          transition: transform 0.1s ease-in-out; 
          &.open { 
            transform: rotate(90deg); 
          } 
        }
        .update-roster-btn {
          background: $primary-color;
        }
      }
      }

  .roster-sublist {
        overflow: hidden;
        max-height: 0;
        padding: 0 12px;
        transition: max-height 0.3s ease, padding 0.3s ease;

        &.expanded {
          max-height: 1000px; // altura máxima "virtual" suficiente para o conteúdo crescer
          padding: 12px;
        }

        .role-item {
          padding: 8px 0;
          font-size: 16px;
          border-bottom: 1px solid $gray-background;

        &:last-child {
          border-bottom: none;
        }
      }
  }

  .roster-details {
    padding: 16px;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
  }
}

.pagination-controls {
  display: flex;
  width: fit-content;
  width: 80%;
  justify-content: center; 
  align-items: center;
  position: absolute;
  height: 20px;
  bottom: 0;
  margin-bottom: 16px;
  gap: 10px; 
  padding-bottom: 20px;
  border-radius: 6px 6px 0 0;

  .pagination-btn, .page-number-btn {
    background-color: $primary-color;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;

    &:disabled {
      background-color: color.adjust($primary-color, $lightness: 20%);
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: color.adjust($primary-color, $lightness: -10%); 
    }
  }

  .page-number-btn {
    width: 40px;
    padding: 8px;
  }

  .page-number-btn.active-page {
    background-color: white; 
    color: $primary-color;
    border: 2px solid $primary-color;
    font-weight: bold;
  }

  .page-status {
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
  }
}