<div class="modal-overlay" (click)="closeAttach()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>{{ title }}</h2>

    <form class="form-section">
      <label>
        RosterName:
        <input
          placeholder="RosterName"
          type="text"
          [(ngModel)]="rosterName"
          name="rosterName"
          required
        />
      </label>

      <label>
        RoleName:
        <input
          placeholder="roleName"
          type="text"
          [(ngModel)]="roleName"
          name="roleName"
          required
        />
      </label>
      
      <label>
        EmployeeCPF:
        <input
          placeholder="employeeCPF"
          type="text"
          [(ngModel)]="employeeCPF"
          name="employeeCPF"
          required
        />
      </label>
      
      <label>
        CompanyCNPJ:
        <input
          placeholder="companyCNPJ"
          type="text"
          [(ngModel)]="companyCNPJ"
          name="companyCNPJ"
          required
        />
      </label>

      <label>Status: </label>
      <div class="radio-buttons">
        <label>
          <input type="radio" name="status" value="Ativo" [(ngModel)]="status"> Ativo
        </label>

        <label>
          <input type="radio" name="status" value="Desativado" [(ngModel)]="status"> Desativado
        </label>
      </div>

      <div class="actions">
        <button type="button" (click)="closeAttach()">CANCEL</button>
        <button type="button" (click)="saveAttach()">SAVE</button>
      </div>
    </form>
  </div>
</div>
