<section class="find-section">
   <div class="filters">
        <mat-form-field appearance="outline">
            <mat-label>Filter by Id</mat-label>
            <input matInput (keyup)="filterById($event)" placeholder="Ex. 123" #input />
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Filter by RosterName</mat-label>
            <input matInput (keyup)="filterByRoleName($event)" placeholder="Ex. ABDCDEFG" #input />
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Filter by WeeklyWorkload</mat-label>
            <input matInput (keyup)="filterByRoleWeeklyWorkload($event)" placeholder="Ex. ABDCDEFG" #input />
        </mat-form-field>

        <mat-form-field class="select-rosterType" appearance="outline">
                <mat-label>Filter by RosterType</mat-label>
                    <mat-select [(value)]="type" (selectionChange)="filterByRosterType($event.value)">
                    <mat-option value="">--</mat-option>
                    <mat-option value="Diaria">Diária</mat-option>
                    <mat-option value="Plantão">Plantão</mat-option>
                </mat-select>
        </mat-form-field>

        <button class="reset-filters-btn" (click)="resetFilters()">Reset Filters</button>
    </div>
  <button class="add-roster-btn" (click)="openAddRosterModel()">Add Roster</button>
</section>

<section class="roster-section">
  <div class="table-wrapper">
    <div class="table-inner">
      <table mat-table [dataSource]="dataSource" class="roster-table">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let roster"> {{roster.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let roster"> {{roster.name}} </td>
        </ng-container>

        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let roster"> {{roster.type}} </td>
        </ng-container>

        <ng-container matColumnDef="weeklyWorkload">
          <th mat-header-cell *matHeaderCellDef> WeeklyWorkload (Hours)</th>
          <td mat-cell *matCellDef="let roster"> {{roster.weeklyWorkload}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let roster">
            <div class="roster-actions">

              @if (roster.type === 'Diaria') {
                <button type="button" class="schedules-role-btn" (click)="openViewDailySchedulesModal(roster); $event.stopPropagation()">
                  <img src="assets/schedules-btn.svg" class="btn-icon">
                </button>
                
                <button type="button" class="update-role-btn" (click)="openUpdateRosterDailyModal(roster); $event.stopPropagation()">
                  <img src="assets/update-btn.svg" class="btn-icon">
                </button> 

              }
              
              @if (roster.type === 'Plantão') {
                <button type="button" class="schedules-role-btn" (click)="openViewDutySchedulesModal(roster); $event.stopPropagation()">
                  <img src="assets/schedules-btn.svg" class="btn-icon">
                </button>

                <button type="button" class="update-role-btn" (click)="openUpdateRosterDutyModal(roster); $event.stopPropagation()">
                  <img src="assets/update-btn.svg" class="btn-icon">
                </button>
              }


              <button type="button" class="delete-role-btn" (click)="closaAddRosterModel(); $event.stopPropagation()">
                <img src="assets/delete-btn.svg" class="btn-icon">
              </button>
              
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter.</td>
        </tr>
      </table>
    </div>
  </div>

  <mat-paginator 
        [pageSize]="10" 
        [pageSizeOptions]="[10,50,100]" 
        showFirstLastButtons>
  </mat-paginator>
</section>

<app-add-roster-modal 
  *ngIf="showAddRosterModal" 
  (closeModal)="showAddRosterModal = false"
  (saveItem)="handleAddItem($event)">
</app-add-roster-modal>

<app-update-roster-duty-modal 
  *ngIf="showUpdateRosterDutyModal" 
  (closeModal)="showUpdateRosterDutyModal = false"
  (updateItem)="handleUpdateRosterDuty($event)">
</app-update-roster-duty-modal>

<app-update-roster-daily-modal 
  *ngIf="showUpdateRosterDailyModal" 
  (closeModal)="showUpdateRosterDailyModal = false"
  (updateItem)="handleUpdateRosterDaily($event)">
</app-update-roster-daily-modal>

<app-view-dutySchedules-modal 
  *ngIf="showViewDutySchedulesModal"
  [selectedRoster]="this.selectedRosterDuty" 
  (closeModal)="showViewDutySchedulesModal = false">
</app-view-dutySchedules-modal>

<app-view-dailySchedules-modal 
  *ngIf="showViewDailySchedulesModal"
  [selectedRoster]="this.selectedRosterDaily" 
  (closeModal)="showViewDailySchedulesModal = false">
</app-view-dailySchedules-modal>

