<div class="layout">
  <nav class="sidebar">
    <h2 class="logo"><strong>Menu</strong></h2>
    <ul>
      <li><a routerLink="/menu/company" routerLinkActive="active">Company</a></li>
      <li><a routerLink="/menu/roles" routerLinkActive="active">Roles</a></li>
      <li><a routerLink="/menu/employee" routerLinkActive="active">Employee</a></li>
      <li><a routerLink="/menu/roster" routerLinkActive="active">Roster</a></li>
      <li><a routerLink="/menu/eletronicPoint" routerLinkActive="active">EletronicPoint</a></li>
    </ul>
  </nav>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>
