.notification-box {
  color: white;
  padding: 12px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px 0;
  width: 250px;

  &.error {
    background: #e34956;
  }

  &.success {
    background: #28a745;
  }
}
