.notification-box {
  position: fixed;   
  top: 20px;     
  left: 50%;
  transform: translateX(-50%); 
  z-index: 9999;
  padding: 12px 20px;
  border-radius: 8px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  animation: fadeInOut 4s ease forwards;

  &.error {
    background: #e34956;
  }

  &.success {
    background: #28a745;
  }
}
