@use "../../../styles/variables" as *;
@use 'sass:color' as color;

.find-section {
  display: flex;    
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-right: 24px;

  .search-container {
    display: flex;
    align-items: center;
    gap: 8px;       
  }

  .input-search-employee {
    font-size: 18px;
    padding: 12px 16px;
    width: 280px;
    border: 2px solid $primary-color;
    border-radius: 6px;
  }
    
  button {
    background-color: $primary-color;
    border-color: $primary-color;
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;

    &.search-btn {
      color: white;
      font-size: 16px;
    }

    &:hover:not(:disabled) {
      background-color: color.adjust(white); 
      font-weight: bold;
      border: 2px solid $primary-color;
      color: $primary-color;
      font-weight: bold
    }
    
    &.add-employee-btn {
      background-color: $primary-color;
      width: 150px;
      margin-left: auto; 
      color: white;
      font-size: 16px;
    }
  }
}

.employee-section {
  margin-top: 18px;

  .employee-list {
    max-height: 500px;
    overflow-y: auto;
    padding: 12px;
  }

  .employee-item {
    outline: 1px solid $secondary-color;
    border: none;
    border-radius: 8px;
    margin-bottom: 8px;

    .employee-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      font-size: 18px;
      cursor: pointer;
      background-color: white;
      border: 1px solid $primary-color;
      border-radius: 8px;
      background-color: #fff;

      &:hover {
        background-color: color.adjust($primary-color, $lightness: 8%);
      }

      .toggle-icon { 
        transition: transform 0.1s ease-in-out; 
        &.open { 
          transform: rotate(90deg); 
        } 
      }

      .update-roster-btn {
        background: $primary-color;
      }
    }
  }
  .employee-header.disabled {
    cursor: default;
  }

  .employee-header:not(.disabled) {
    cursor: pointer;
  }

  .employee-sublist {
    overflow: hidden;
    max-height: 0;
    padding: 0 12px;
    transition: max-height 0.3s ease, padding 0.3s ease;

    &.expanded {
      max-height: 1000px; // altura máxima "virtual" suficiente para o conteúdo crescer
      padding: 12px;
    }

    .employee-item {
      padding: 8px 0;
      font-size: 16px;
      border-bottom: 1px solid $gray-background;

    &:last-child {
      border-bottom: none;
    }
  }
  }

  .employee-details {
    padding: 4px;
    margin-bottom: 0.5rem;
    padding-left: 0.5rem;
  }
}