<section class="find-section">
    <div class="filters">
        <mat-form-field appearance="outline">
            <mat-label>Filter by Id</mat-label>
            <input matInput (keyup)="filterById($event)" placeholder="Ex. 123" #input />
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Filter by Name</mat-label>
            <input matInput (keyup)="filterByEmployeeName($event)" placeholder="Ex. ABDCDEFG" #input />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Filter by CPF</mat-label>
            <input matInput (keyup)="filterByCpf($event)" placeholder="12345678912345" #input />
        </mat-form-field>

        <button class="reset-filters-btn" (click)="resetFilters()">Reset Filters</button>
    </div>

    <button class="add-employee-btn" (click)="openAddEmployeeModal()">Add Employee</button>
</section>

<section class="employee-section">

    <div class="table-wrapper">
        <div class="table-inner">
            <table mat-table [dataSource]="dataSource" class="employees-table">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let employee">{{ employee.id }}</td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let employee">{{ employee.name }}</td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Actions</th>
                    <td mat-cell *matCellDef="let employee">
                        <div class="employee-actions" (click)="$event.stopPropagation()">
                            <button type="button" class="view-employee-btn"
                                (click)="openViewDetailsEmployessRolesModal(employee);">
                                <img src="assets/view-btn.svg" class="btn-icon">
                            </button>

                            <button type="button" class="update-employee-btn"
                                (click)="openUpdateEmployeeModal(employee);">
                                <img src="assets/update-btn.svg" class="btn-icon">
                            </button>

                            <button type="button" class="delete-employee-btn"
                                (click)="openDeleteEmployeeModal(employee);">
                                <img src="assets/delete-btn.svg" class="btn-icon">
                            </button>

                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter.</td>
                </tr>
            </table>
        </div>
    </div>

    <mat-paginator 
        [pageSize]="10" 
        [pageSizeOptions]="[10,50,100]" 
        showFirstLastButtons>
    </mat-paginator>

</section>

<app-add-employee-modal *ngIf="showAddEmployeeModal" [title]="modalTitle" [secondLabel]="secondLabel"
    [secondPlaceholder]="secondPlaceholder" [secondKey]="secondKey" (closeModal)="showAddEmployeeModal = false"
    (saveItem)="handleSaveEmployee($event)">
</app-add-employee-modal>

<app-update-employee-modal *ngIf="showUpdateEmployeeModal" [employee]="selectedEmployee"
    (closeModal)="showUpdateEmployeeModal = false" (updateItem)="handleUpdateEmployee($event)">
</app-update-employee-modal>

<app-delete-employee-modal *ngIf="showDeleteEmployeeModal" [employee]="selectedEmployee"
    (closeModal)="showDeleteEmployeeModal = false" (deleteItem)="handleDeleteEmployee($event)">
</app-delete-employee-modal>

<app-employeeRoles-modal *ngIf="showViewDetailsEmployessRolesModal"
    [employeeRoles]="selectedEmployeeRolesList" [employeeName]="selectedEmployeeName"
    (closeModal)="showViewDetailsEmployessRolesModal = false">
</app-employeeRoles-modal>