<section class="find-section">
    <div class="search-container">
        <input
            type="text"
            (input)="searchTerm = $event.target.value"
            class="input-search-employee"
            placeholder="Enter an ID or employee name"
        />
        <button class="search-btn" (click)="searchEmployees()">Search</button>
    </div>

    <button class="add-employee-btn" (click)="openAddEmployeeModal()">Add</button>
</section>

<section class="employee-section">
  <div class="employee-list">
    <label><h5><strong>Employees</strong></h5></label>

    <div class="employee-item" *ngFor="let group of groups" >

      <div class="employee-header" 
        [class.disabled]="group.employeeRoles.length === 0"
        (click)=" group.employeeRoles.length > 0 && (group.expanded = !group.expanded)">


        {{ group.employee.name }}

        <div class="employee-header-actions" (click)="$event.stopPropagation()">
          <button
            type="button"
            class="update-employee-btn"
            (click)="openUpdateEmployeeModal(group.employee);">
            <img src="assets/update-btn.svg" class="btn-icon">
          </button>

          <button
              type="button"
              class="delete-employee-btn"
              (click)="openDeleteEmployeeModal(group.employee);">
              <img src="assets/delete-btn.svg" class="btn-icon">
          </button>

          <span class="toggle-icon" *ngIf="group.employeeRoles.length > 0">
            {{ group.expanded ? '▲' : '▼' }}
          </span>
        </div>        
      </div>

      <div class="employee-sublist" [class.expanded]="group.expanded" >
          <h5><i>Employee Roles Details:</i></h5>
      <div class="employee-details" *ngFor="let employeeRoles of group.employeeRoles; let i = index">
          <div class="employeeRoles-info">
            <div><strong>Company:</strong> {{ employeeRoles.role.sectors.company.name }}</div> 
            <div><strong>Roster:</strong> {{ employeeRoles.roster.name }} - {{ employeeRoles.roster.type }} - {{ employeeRoles.roster.weeklyWorkload }}h</div> 
            <div><strong>Sector:</strong> {{ employeeRoles.role.sectors.name }} |  <strong>Role:</strong> {{ employeeRoles.role.name }}</div>
          </div>
          <div class="employeeRoles-actions">
            <button
              type="button"
              class="update-employeeRoles-btn"
              (click)="openUpdateEmployeeRolesModal(employeeRoles);">
              <img src="assets/update-btn.svg" class="btn-icon">
            </button>

            <button
                type="button"
                class="delete-employeeRoles-btn"
                (click)="openDeleteEmployeeModal(group.employee);">
                <img src="assets/delete-btn.svg" class="btn-icon">
            </button>
          </div>
          <hr *ngIf="i < group.employeeRoles.length - 1">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="pagination-controls" *ngIf="totalPages > 1">
    <button 
        (click)="changePage(currentPage - 1)" 
        [disabled]="currentPage === 1"
        class="pagination-btn">
        &laquo; Previous
    </button>

    <ng-container *ngFor="let pageNum of getPagesArray()">
        <button
            (click)="changePage(pageNum)"
            [class.active-page]="currentPage === pageNum"
            class="page-number-btn">
            {{ pageNum }}
        </button>
    </ng-container>

    <span class="page-status"> Page {{ currentPage }}/{{ totalPages }} </span>

    <button 
        (click)="changePage(currentPage + 1)" 
        [disabled]="currentPage === totalPages"
        class="pagination-btn">
        Next &raquo;
    </button>
</div>

<app-add-employee-modal
    *ngIf="showAddEmployeeModal"
    [title]="modalTitle"
    [secondLabel]="secondLabel"
    [secondPlaceholder]="secondPlaceholder"
    [secondKey]="secondKey"
    (closeModal)="showAddEmployeeModal = false"
    (saveItem)="handleSaveEmployee($event)">
</app-add-employee-modal>

<app-update-employee-modal
    *ngIf="showUpdateEmployeeModal"
    [employee]="selectedEmployee"
    (closeModal)="showUpdateEmployeeModal = false"
    (updateItem)="handleUpdateEmployee($event)">
</app-update-employee-modal>

<app-delete-employee-modal
    *ngIf="showDeleteEmployeeModal"
    [employee]="selectedEmployee"
    (closeModal)="showDeleteEmployeeModal = false"
    (deleteItem)="handleDeleteEmployee($event)">
</app-delete-employee-modal>

<app-update-employeeRoles-modal
    *ngIf="showUpdateEmployeeRolesModal"
    [employeeRoles]="selectedEmployeeRoles"
    (closeModal)="showUpdateEmployeeRolesModal = false"
    (updateItem)="handleUpdateEmployeeRoles($event)">
</app-update-employeeRoles-modal>
