@use "../../../styles/variables" as *;

.input-wrapper {
    color: $text-color;
    font-size: 16px; 
    text-align: start;

    .label {
        margin-bottom: 10px;
    }

    .input-label {
        color: black;
    }
    .input-content {
        display: flex;
        width: 100%;
        border-radius: 8px;

        .icon {
            border-radius: 0 8px 8px 0;
            padding: 12px;
            background-color: $primary-color;
        }
    }
    
    input {
        border: none;
        border-radius: 8px 0 0 8px;
        background-color: $gray-secondary-background;
        padding: 12px 0 12px 20px;
        width: 100%;
    }
}

