@import "../../../styles/variables.scss";


.find-section {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-right: 24px;

    .search-container {
        display: flex;
        align-items: center;
        gap: 8px;       
    }

    .input-search-company {
        font-size: 18px;
        padding: 12px 16px;
        width: 400px;
        border: 2px solid $primary-color;
        border-radius: 6px;
    }
    
    button {
        background-color: $primary-color;
        padding: 14px;
        border-radius: 8px;
        cursor: pointer;

        &.search-btn {
            color: white;
            font-size: 16px;
        }

        &.add-company-btn {
            width: 200px;
            margin-left: auto; 
            color: white;
            font-size: 16px;
        }
    }
}

.companies-section {
    margin-top: 24px;
    padding: 8px;
    
    .company-list {
        border: 1px solid $secondary-color;
        border-radius: 8px;
        max-height: 450px;
        overflow-y: auto;
    }

    .company-item {
        border: 1px solid $gray-background;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        font-size: 16px;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            cursor: pointer;
        }

        .company-info {
            display: flex;
            flex-direction: column;
        }
    }
}





