@use '../../../styles/variables' as *;
@use 'sass:color' as color;

.find-section {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-right: 24px;

    .search-container {
        display: flex;
        align-items: center;
        gap: 8px;       
    }

    .input-search-company {
        font-size: 18px;
        padding: 12px 16px;
        width: 400px;
        border: 2px solid $primary-color;
        border-radius: 6px;
    }
    
    button {
        background-color: $primary-color;
        padding: 14px;
        border-radius: 8px;
        cursor: pointer;

        &.search-btn {
            color: white;
            border-color: $primary-color;
            font-size: 16px;
        }

        &.add-company-btn {
            background-color: $primary-color;
            border-color: $primary-color;
            width: 150;
            margin-left: auto; 
            color: white;
            font-size: 16px;
        }

        &:hover:not(:disabled) {
            background-color: color.adjust(white); 
            font-weight: bold;
            border: 2px solid $primary-color;
            color: $primary-color;
        }

        &.add-sector-btn {
            background-color: $primary-color;
            border-color: $primary-color;
            width: 150;
            color: white;
            font-size: 16px;
        }
    }
}

.companies-section {
    
    margin-top: 24px;
    padding: 8px;
    
    .company-list {
        border: 1px solid $secondary-color;
        border-radius: 8px;
        max-height: 450px;
    }

    .company-item {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 12px;
        font-size: 16px;
        border: 1px solid $gray-background;

        &:last-child {
            border-bottom: none;
        }

        &:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.02);
        }

        .company-info {
            display: flex;
            flex-direction: column;
        }

        .company-actions {
            display: flex;
            gap: 5px;
            flex-shrink: 0;
        }
    }

    button {
        border: none;
        border-radius: 8px;
        cursor: pointer;

        padding: 0;
        width: 36px;
        height: 36px;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        transition: opacity 0.15s ease;
        outline: none;

        &:hover {
            opacity: 0.5;
        }
        
        &.update-company-btn {
            background-color: $update-btn-color;
        }

        &.delete-company-btn {
            background-color: $delete-btn-color;
        }    
    }
}

.pagination-controls {
    display: flex;
    width: fit-content;
    width: 80%;
    justify-content: center; 
    align-items: center;
    position: absolute;
    height: 20px;
    bottom: 0;
    margin-bottom: 16px;
    gap: 10px; 
    padding-bottom: 20px;
    border-radius: 6px 6px 0 0;
        
    .pagination-btn, .page-number-btn {
        background-color: $primary-color;
        color: white;
        padding: 8px 15px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        transition: background-color 0.2s;

        &:disabled {
            background-color: color.adjust($primary-color, $lightness: 20%);
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            background-color: color.adjust($primary-color, $lightness: -10%); 
        }
    }

    .page-number-btn {
        width: 40px;
        padding: 8px;
    }

    .page-number-btn.active-page {
        background-color: white; 
        color: $primary-color;
        border: 2px solid $primary-color;
        font-weight: bold;
    }

    .page-status {
        font-size: 16px;
        font-weight: 500;
        margin: 0 10px;
    }
}




