@use '../../../styles/variables' as *;
@use 'sass:color' as color;


.find-section {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-right: 8px;
    margin-left:  10px;

    .filters {
        display: flex;
        gap: 10px;

        button {
            background-color: $delete-btn-color;
            border-color: $delete-btn-color;
            color: white;
            width:125px;
            height: 55px;

            &:hover:not(:disabled) {
                background-color: color.adjust(white); 
                font-weight: bold;
                border: 2px solid $delete-btn-color;
                color: $delete-btn-color;
            }
        }
    }
    
    button {
        background-color: $primary-color;
        padding: 14px;
        border-radius: 8px;
        cursor: pointer;

        &.search-btn {
            color: white;
            border-color: $primary-color;
            font-size: 16px;
        }

        &.add-company-btn {
            background-color: $primary-color;
            border-color: $primary-color;
            width: 150;
            margin-left: auto; 
            color: white;
            font-size: 16px;
            margin-bottom: 20px;
        }

        
        &.add-sector-btn {
            background-color: $primary-color;
            border-color: $primary-color;
            width: 150;
            color: white;
            font-size: 16px;
            margin-bottom: 20px;
        }

        &:hover:not(:disabled) {
            background-color: color.adjust(white); 
            font-weight: bold;
            border: 2px solid $primary-color;
            color: $primary-color;
        }
    }

}

.companies-section {
    padding: 8px;
    margin-top: -10px;

    .companies-table {
        width: 100%;
        border-spacing: 0;
        border-collapse: separate;
        background-clip: padding-box;
    }

    .table-wrapper {
        max-height: 580px;
        overflow-y: auto;
    }

    .table-inner {
        border: 1px solid $primary-color;
    }

    .mat-mdc-row .mat-mdc-cell {
        border-bottom: 1px solid $primary-color;
        cursor: pointer;
    }   

    .mat-mdc-row:hover {
        background-color: rgba($secondary-color, 0.3);
        cursor: pointer;
    }

    .mat-mdc-header-row th {
        color: white;
        font-size: 16px;
        background: $primary-color;
    }
    
    .mat-mdc-header-cell th {
        color: white;
        font-size: 16px;
        background: $primary-color;
    }

    .company-actions {
        gap: 5px;
        display: flex;
    }

    .mat-column-id {
        width: 25px;
        text-align: center;
        padding-right: 24px;
        border-right: 1px solid $primary-color;
    }
    
    .mat-column-name {
        text-align: center;
        padding-right: 24px;
        border-right: 1px solid $primary-color;
    } 
    
    .mat-column-actions {
        width: 10px;
        text-align: center;
    }

    .mat-mdc-row:last-child .mat-mdc-cell {
        border-bottom: none;
    }

    .mat-mdc-form-field {
        width: 50%;
        font-size: 12px;
        
    }
    
    button {
        border: none;
        border-radius: 8px;
        cursor: pointer;

        padding: 0;
        width: 36px;
        height: 36px;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;
        transition: opacity 0.15s ease;
        outline: none;

        &:hover {
            opacity: 0.5;
        }
        
        &.update-company-btn {
            background-color: $update-btn-color;
        }

        &.delete-company-btn {
            background-color: $delete-btn-color;
        }    
    }
}