$primary-color: #2b65e2;
$text-color: $primary-color;
$secondary-color: #96c1fc;
$destaque-color: #5688e4;
$add-btn-color: #52d348;
$update-btn-color: #ffa500;
$delete-btn-color: #e61818;
$gray-background: #EEEEEE;
$gray-secondary-background: #F1F3F6;