@import "../../../styles/variables.scss";


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: end;

    .span {
        font-size: 14px;
        text-decoration: underline;
        color: $secondary-color;
       
    }
}