<div class="modal-overlay" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>Attach Role to Employee</h2>

    <form class="form-section">
      <label>
        Status:
        <input
          placeholder="Status"
          type="text"
          [(ngModel)]="status"
          name="status"
          required
        />
      </label>

      <label>
        WorkRegime:
        <input
          [placeholder]="workregime"
          type="text"
          [(ngModel)]="workregime"
          name="workregime"
          required
        />
      </label>

      <label>
        EmployeeName:
        <input
          [placeholder]="employeeName"
          type="text"
          [(ngModel)]="employeeName"
          name="employeeName"
          required
        />
      </label>

      <label>
        RoleName:
        <input
          [placeholder]="roleName"
          type="text"
          [(ngModel)]="roleName"
          name="roleName"
          required
        />
      </label>

      <div class="actions">
        <button type="button" (click)="close()">CANCEL</button>
        <button type="button" (click)="attach()">ATTACH ROLE</button>
      </div>
    </form>
  </div>
</div>
