@import 'ngx-toastr/toastr';


* {
    //global styles
    margin: 0; //remove from all
    padding: 0; //remove from all
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

html, body {
    height: 100%;
}

/* styles.scss ou um global.scss */
.custom-toast {
  animation: slideFadeIn 0.4s ease forwards;
}

@keyframes slideFadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
