@use 'ngx-toastr/toastr';
@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;
}

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: "Fredoka", sans-serif;
}

html, body {
    height: 100%;
}

.custom-toast {
  animation: slideFadeIn 0.4s ease forwards;
}

@keyframes slideFadeIn {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
