<div class="modal-overlay" (click)="close()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h2>{{ modalTitle }}</h2>
    <form class="form-section">
      <label>
        Roster Name:
      </label>

      <div class="roster-form">
          <input matInput
                class="rosterName-input" 
                type="text"
                placeholder="Search for a Roster"
                [formControl]="rosterControl"
                [matAutocomplete]="rosterAuto"
          >
  
          <mat-autocomplete #rosterAuto="matAutocomplete" [displayWith]="displayRoster">
  
            @for (roster of filteredRosters | async; track roster.id) {
              <mat-option [value]="roster">{{roster.name}}</mat-option>
            }
          </mat-autocomplete>
      </div>
      
      <label>
        Role Name:
      </label>
      
      <div class="role-form">
          <input matInput
                class="roleName-input" 
                type="text"
                placeholder="Search for a role"
                [formControl]="roleControl"
                [matAutocomplete]="roleAuto"
          >
  
          <mat-autocomplete #roleAuto="matAutocomplete" [displayWith]="displayRole">
  
            @for (role of filteredRoles | async; track role.id) {
              <mat-option [value]="role">{{role.name}}</mat-option>
            }
          </mat-autocomplete>
      </div>

      <label>
        Role Status: 
      </label>

      <div class="radio-buttons">
        <label>
          <input type="radio" name="status" value="Ativo" [(ngModel)]="status"> Ativo
        </label>

        <label>
          <input type="radio" name="status" value="Desativado" [(ngModel)]="status"> Desativado
        </label>
      </div>

      <div class="actions">
        <button type="button" class="btn-cancel" (click)="close()">CANCEL</button>
        <button type="button" class="btn-update" [disabled]="!isFormValid()" (click)="update()">UPDATE</button>
      </div>
    </form>
  </div>
</div>
