@use '../../../styles/variables' as *;

.modal-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); //60% opacity: ;
  display: flex;
  justify-content: center;
  align-items: center;    
  z-index: 1000; 
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  width: 700px;
  max-height: 90vh; // Display limit size
  overflow-y: auto; // vertical scroll
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

  
  h2 {
    margin-top: 0;
    color: $primary-color;
  }

  label {
    display: block;
    margin-bottom: 15px;
  }

  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box; 
  }

  .actions {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;

    button {
      margin-left: 10px;
      background-color: $primary-color;
      padding: 8px;
      border-radius: 8px;
      color: white;
    }
  }
}

.select-roster {
  background-color: $primary-color;
  color: white;
  
}

.form-section {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.daily-schedules-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}

.day-row {
  display: flex;
  flex-direction: column;
  background-color: $primary-color;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  padding: 1rem;
  gap: 0.75rem;
}

.day-row > .day-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    margin-left: 12px;
  }
}

.day-input {
  flex: 1;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
}

.schedule-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.schedule-input {
  flex: 1;
  padding: 0.35rem 0.5rem;
  font-size: 0.9rem;
  border: 1px solid #cbd5e0;
  border-radius: 4px;
}

button {
  padding: 0.3rem 0.6rem;
  font-size: 0.85rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: $add-btn-color;
  color: white;
  border: 1px solid white;

}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;


  button:hover {
    border: 2px solid black;
  }
}

input {
  padding: 0.35rem 0.5rem;
  font-size: 0.9rem;
}
