<section class="find-section">
    <div class="filters">
        <mat-form-field appearance="outline">
            <mat-label>Filter by Id</mat-label>
            <input matInput (keyup)="filterById($event)" placeholder="Ex. 123" #input />
        </mat-form-field>
        
        <mat-form-field appearance="outline">
            <mat-label>Filter by RoleName</mat-label>
            <input matInput (keyup)="filterByRoleName($event)" placeholder="Ex. ABDCDEFG" #input />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Filter by SectorName</mat-label>
            <input matInput (keyup)="filterBySectorName($event)" placeholder="Ex. ABDCDEFG" #input />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Filter by CompanyName</mat-label>
            <input matInput (keyup)="filterByCompanyName($event)" placeholder="Ex. ABDCDEFG" #input />
        </mat-form-field>

        <button class="reset-filters-btn" (click)="resetFilters()">Reset Filters</button>
    </div>

    <div class="actions">
        <button class="add-role-btn" (click)="openAddRoleModal()">Add Role</button>
        <button class="attach-role-employee-btn" (click)="openAttachRoleToEmployeeModal()">Attach role to employee </button>   
    </div>
</section>

<section class="roles-section">

    <div class="table-wrapper">
        <div class="table-inner">
            <table mat-table [dataSource]="dataSource" class="roles-table">

                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> ID </th>
                    <td mat-cell *matCellDef="let role"> {{role.id}} </td>
                </ng-container>

                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let role"> {{role.name}} </td>
                </ng-container>

                <ng-container matColumnDef="sector">
                    <th mat-header-cell *matHeaderCellDef> Sector </th>
                    <td mat-cell *matCellDef="let role"> {{role.sectors.name}} </td>
                </ng-container>

                <ng-container matColumnDef="company">
                    <th mat-header-cell *matHeaderCellDef> Company </th>
                    <td mat-cell *matCellDef="let role"> {{role.sectors.company.name}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> Actions </th>
                    <td mat-cell *matCellDef="let role">
                        <div class="company-actions">
                            <button type="button" class="update-role-btn"
                                (click)="openUpdateRoleModal(role); $event.stopPropagation()">
                                <img src="assets/update-btn.svg" class="btn-icon">
                            </button>
                            <button type="button" class="delete-role-btn"
                                (click)="openDeleteRoleModal(role); $event.stopPropagation()">
                                <img src="assets/delete-btn.svg" class="btn-icon">
                            </button>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter.</td>
                </tr>
            </table>
        </div>
    </div>

    <mat-paginator 
        [pageSize]="10" 
        [pageSizeOptions]="[10,50,100]" 
        showFirstLastButtons>
    </mat-paginator>
</section>

<app-add-role-modal *ngIf="showAddRoleModal" (saveItem)="handleAddRole($event)" (closeModal)="showAddRoleModal = false">
</app-add-role-modal>

<app-update-role-modal *ngIf="showUpdateRoleModal" (closeModal)="showUpdateRoleModal = false"
    (updateItem)="handleUpdateRole($event)">
</app-update-role-modal>

<app-delete-role-modal *ngIf="showDeleteRoleModal" [role]="selectedRole" (closeModal)="showDeleteRoleModal = false"
    (deleteItem)="handleDeleteRole($event)">
</app-delete-role-modal>

<app-attach-role-to-employee *ngIf="showAttachRoleToEmployeeModal" title="Attach role to employee"
    (saveItem)="handleAttachRoleToEmployee($event)" (closeModal)="showAttachRoleToEmployeeModal = false">
</app-attach-role-to-employee>