<section class="find-section">
    <div class="search-container">
        <input
            type="text" 
            (input)="searchTerm1 = $event.target.value"
            class="input-search-role1" 
            placeholder="Enter an ID, a role name or a CNPJ"
        />
        <input
            type="text" 
            (input)="searchTerm2 = $event.target.value"
            class="input-search-role2" 
            placeholder="Enter the company sector" 
        />
        <button 
        class="search-btn"
        (click)="searchRoles()">Search</button>
    </div>
    <button class="add-role-btn" (click)="openAddRoleModal()">Add </button>
    <button class="attach-role-employee-btn" (click)="openAttachRoleToEmployeeModal()" >Attach role to employee </button>
</section>

<section class="roles-section">
  <div class="role-list">
    <strong>Companies</strong>

    <div class="company-item" *ngFor="let group of groupedRoles">

        <div class="company-header" (click)="group.expanded = !group.expanded"> 
          <span class="company-name">
            {{ group.companyName }}
          </span>

          <span class="toggle-icon" [class.open]="group.expanded">▶</span>
        </div>

        <div class="role-sublist" [class.expanded]="group.expanded">
            <div class="role-item" *ngFor="let role of group.roles"> 

              <div class= "role-info">
                <div><strong>Sector: </strong> {{role.sectors.name}} | <strong>Role: </strong>{{ role.name }}</div>
              </div>
              
              <button
                type="button"
                class="update-role-btn"
                (click)="openUpdateRoleModal(role); $event.stopPropagation()">
                <img src="assets/update-btn.svg" class="btn-icon">
              </button>
              <button
                type="button"
                class="delete-role-btn"
                (click)="openDeleteRoleModal(role); $event.stopPropagation()">
                <img src="assets/delete-btn.svg" class="btn-icon">
              </button>

            </div>
        </div>
    </div>
  </div>
</section>

<div class="pagination-controls" *ngIf="totalItems > pageSize">
  
  <button 
    (click)="previousPage()" 
    [disabled]="currentPage === 1"
    class="pagination-btn">
    &laquo; Previous
  </button>

  <ng-container *ngFor="let pageNum of [].constructor(totalPages); let i = index">
    <button
      (click)="goToPage(i + 1)"
      [class.active-page]="currentPage === i + 1"
      class="page-number-btn">
      {{ i + 1 }}
    </button>
  </ng-container>

  <span class="page-status">
    Page {{ currentPage }}/{{ totalPages }}
  </span>

  <button 
    (click)="nextPage()" 
    [disabled]="currentPage === totalPages || totalPages === 0"
    class="pagination-btn">
    Next &raquo;
  </button>
</div>

<app-add-role-modal
  *ngIf="showAddRoleModal"
  (saveItem)="handleAddRole($event)"
  (closeModal)="showAddRoleModal = false">
</app-add-role-modal>

<app-update-role-modal
    *ngIf="showUpdateRoleModal"
    (closeModal)="showUpdateRoleModal = false"
    (updateItem)="handleUpdateRole($event)">
</app-update-role-modal>

<app-delete-role-modal
    *ngIf="showDeleteRoleModal"
    [role]="selectedRole"
    (closeModal)="showDeleteRoleModal = false"
    (deleteItem)="handleDeleteRole($event)">
</app-delete-role-modal>

<app-attach-role-to-employee
  *ngIf="showAttachRoleToEmployeeModal"
  title="Attach role to employee"
  (closeModal)="showAttachRoleToEmployeeModal = false">
</app-attach-role-to-employee>
