@use "../../../styles/variables" as *;
@use 'sass:color';

.find-section {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-right: 24px;

    .search-container {
      display: flex;
      align-items: center;
      gap: 8px;       
    }

    .input-search-role1 {
      font-size: 18px;
      padding: 12px 16px;
      width: 260px;
      border: 2px solid $primary-color;
      border-radius: 6px;
    }
    .input-search-role2 {
      font-size: 18px;
      padding: 12px 16px;
      width: 260px;
      border: 2px solid $primary-color;
      border-radius: 6px;
    }
    
    button {
      background-color: $primary-color;
      padding: 14px;
      border-radius: 8px;
      cursor: pointer;

      &:hover:not(:disabled) {
        background-color: color.adjust(white); 
        font-weight: bold;
        border: 2px solid $primary-color;
        color: $primary-color;
      }


      &.search-btn {
        color: white;
        font-size: 16px;
      }

      &.add-role-btn {
        background-color: $primary-color;
        width: 150px;
        margin-left: auto; 
        color: white;
        font-size: 16px;
      }

      &.attach-role-employee-btn {
        background-color: $primary-color;
        width: 208px;
        color: white;
        font-size: 16px;
      }
    }
}

.roles-section {
  margin-top: 24px;
  padding: 8px;
  
  .role-list {
    max-height: 500px;
    overflow-y: auto;
    padding: 12px;
  }

  label {
    font-size: 16px;
    padding: 4px;
  }
  .company-item {
    border: 1px solid $secondary-color;
    border-radius: 8px;
    margin-bottom: 8px;
    max-height: 450px;

    .company-header {
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      
      padding: 12px;
      font-size: 18px;
      background-color: white;
      border: 1px solid $primary-color;

      &:last-child {
        border-bottom: none;
      }

      &:hover {
        cursor: pointer;
        background-color: color.adjust($primary-color, $lightness: 30%);
      }
    }

    .toggle-icon {
      margin-left: 4px;
      transition: transform 0.1s ease-in-out; 

      &.open {
        transform: rotate(90deg);} 
    }

    .role-sublist {
      padding: 0 12px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.25s ease, padding 0.25s ease;

      &.expanded {
        padding: 12px;
        max-height: 500px;
      }

      .role-item {
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 8px 0;
        font-size: 16px;
        border-bottom: 1px solid $gray-background;

        &:last-child {
          border-bottom: none;
        }
      }

      .role-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
      }
    }
  }

  button {
        border: none;
        border-radius: 8px;
        cursor: pointer;

        padding: 0;
        width: 36px;
        height: 36px;

        display: flex;
        align-items: center;
        margin-left: 5px;
        justify-content: center;

        box-sizing: border-box;
        transition: opacity 0.15s ease;
        outline: none;

        &:hover {
            opacity: 0.5;
        }
        
        &.update-role-btn {
            background-color: $update-btn-color;
        }

        &.delete-role-btn {
            background-color: $delete-btn-color;
        }    
    }
}

.pagination-controls {
  display: flex;
  width: fit-content;
  width: 80%;
  justify-content: center; 
  align-items: center;
  position: absolute;
  height: 20px;
  bottom: 0;
  margin-bottom: 16px;
  gap: 10px; 
  padding-bottom: 20px;
  border-radius: 6px 6px 0 0;

  .pagination-btn, .page-number-btn {
    background-color: $primary-color;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.2s;

    &:disabled {
      background-color: color.adjust($primary-color, $lightness: 20%);
      cursor: not-allowed;
    }

    &:hover:not(:disabled) {
      background-color: color.adjust($primary-color, $lightness: -10%); 
    }
  }

  .page-number-btn {
    width: 40px;
    padding: 8px;
  }

  .page-number-btn.active-page {
    background-color: white; 
    color: $primary-color;
    border: 2px solid $primary-color;
    font-weight: bold;
  }

  .page-status {
    font-size: 16px;
    font-weight: 500;
    margin: 0 10px;
  }
}
