<section class="find-section">
    <div class="search-container">
        <input
            type="text" 
            (input)="searchTerm1 = $event.target.value"
            class="input-search-role1" 
            placeholder="Enter an ID or a role name"
        />
        <input
            type="text" 
            (input)="searchTerm2 = $event.target.value"
            class="input-search-role2" 
            placeholder="Or the company's CNPJ" 
        />
        <button 
        class="search-btn"
        (click)="searchRoles()"> Search</button>
    </div>
    <button 
        class="add-role-btn"
        (click)="openModal()">Add</button>

    <button 
        class="attach-role-employee-btn"
        (click)="openModal2()" >Attach role to employee</button>

    <app-add-role-modal
      *ngIf="showModal"
      (saveItem)="addRole($event)"
      (closeModal)="showModal = false">
    </app-add-role-modal>



    <app-attach-role-to-employee
        *ngIf="showModalAttachRole"
        title="Attach role to employee"
        (closeModal)="showModalAttachRole = false">
    </app-attach-role-to-employee>

</section>

<section class="roles-section">
  <div class="role-list">
    <label>
        Companies
    </label>

    <div class="company-item" *ngFor="let group of groupedRoles">
        <div class="company-header" (click)="group.expanded = !group.expanded"> {{ group.companyName }}
            <span class="toggle-icon" [class.open]="group.expanded">▶</span>
        </div>

        <div class="role-sublist" [class.expanded]="group.expanded">
            <div class="role-item" *ngFor="let role of group.roles"> 
              <div><strong>Sector: </strong> {{role.sectors.name}} </div>
              <div><strong>Role: </strong>{{ role.name }} </div>
            </div>
        </div>
  </div>
  </div>
</section>

<div class="pagination-controls" *ngIf="totalItems > pageSize">
  
  <button 
    (click)="previousPage()" 
    [disabled]="currentPage === 1"
    class="pagination-btn">
    &laquo; Previous
  </button>

  <ng-container *ngFor="let pageNum of [].constructor(totalPages); let i = index">
    <button
      (click)="goToPage(i + 1)"
      [class.active-page]="currentPage === i + 1"
      class="page-number-btn">
      {{ i + 1 }}
    </button>
  </ng-container>

  <span class="page-status">
    Page {{ currentPage }}/{{ totalPages }}
  </span>

  <button 
    (click)="nextPage()" 
    [disabled]="currentPage === totalPages || totalPages === 0"
    class="pagination-btn">
    Next &raquo;
  </button>
</div>
